.carouselHeading {
    margin-top: 1vh;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.35;
    text-align: center;
    color: #35a5b5;
}

.carouselSubheading {
    margin-top: 0.5vh;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
    color: #000000;
}

.landingCarousel {
    background: #f9f8f8;
}