.bgColor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #f9f8f8;
}

.landingFooter {
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: auto;
    background-color: #f5f5f5;
    padding-left: 30px;
    padding-right: 30px;
}

.landingFooterLogo {
    height: 72px;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.landingFooterText {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.06;
    text-align: left;
    color: #777777;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}