.pointsHeader {
    margin-top: 10px;
    background-color: #fd7171;
    height: 53px;
    border-radius: 6px;
    text-align: left;
}

.pointsHeaderText {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.06;
    color: #ffffff;
}

.pointsPill {
    background-color: #ffffff;
    color: #fd7171;
    float: right;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.9px;
    border-radius: 1rem;
    margin-right: 25px;
}

.pointsOuter {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.pointsMiddle {
    display: table-cell;
    vertical-align: middle;
}

.pointsInner {
    margin-left: auto;
    margin-right: auto;
}