.pointsHeader {
    margin-top: 10px;
    background-color: #fd7171;
    height: 53px;
    border-radius: 6px;
    text-align: left;
}

.pointsHeaderText {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.06;
    color: #ffffff;
}

/*.pointsHeaderTextDiv {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
/*}*/

.pointsPill {
    background-color: #ffffff;
    color: #fd7171;
    float: right;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.9px;
    border-radius: 1rem;
    /* Vertically centre pill */
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}