.reward-scan-code {
    text-align: center;
}

.reward-cancel-btn {
    color: #ef005c;
    border: solid 1px #ef005c;
}

.reward-action-btn {
    border: solid 1px #fd7171;
    background-color: #fd7171;
}