.register {
  height: 100vh;
  background-color: #f9f8f8;
}

.app-bar {
  width: 100vw;
  height: 44px;
  background-color: #35a5b5;
  list-style: none;
  margin-left: -5vw;
  margin-right: -10vw;
}

img.app-name {
  margin-left: 47vw;
}

.question-card {
  margin-top: 6vh;
  margin-left: -4vw;
  width: 90vw;
  border-width: 0;
}

#pregnancy-questions-card {
  margin-left: 0vw;
}

.question-phrase {
  height: 24px;
  font-size: 20px;
  color: #35a5b5;
  margin-top: 3.5vh;
  margin-bottom: 0;
  margin-left: 4vw;
  margin-right: 4vw;
}

#lmp-question-phrase {
  margin-left: -1vw;
  margin-right: -1vw;
}

.continue-button {
  border: solid 1.8px;
  border-color: #ef005c;
  color: #ef005c;
  width: 78vw;
  background-color: #ffffff;
  margin-top: -6vh;
}

#pregnancy-continue {
  margin-top: 3vh;
}

.question-yes-no {
  margin-top: 9vh;
  margin-bottom: 4vh;
}

#question-midwife {
  margin-top: 4.5vh;
}

.button-yes-no {
  border: solid 1.8px;
  border-color: #ef005c;
  color: #ef005c;
  width: 22vw;
  height: 8vh;
  background-color: #ffffff;
  margin-top: -6vh;
  font-size: 12px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.skip-question-button {
  border: solid 1.8px;
  border-color: #fd7171;
  color: #fd7171;
  width: 78vw;
  background-color: #ffffff;
  margin-top: 4vh;
}

.skip-question-description {
  margin-top: 1vh;
  height: 14px;
  font-size: 12px;
  text-align: center;
  color: #999999;
}

#button-selected {
  background-color: #ef005c;
  color: #ffffff;
  margin-top: -12vh;
}

#button-unselected {
  margin-top: -12vh;
}

#question-pregnancy {
  margin-bottom: -7vh;
}

.date-picker {
  margin-top: 2.5vh;
  width: 251px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  color: #999999;
  padding-left: 3vw;
}
