.dropdown{
  width: auto;
  height: 79px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5 ;
  margin-top: 9px;
}

.dropdown-title{
  height: 23px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  text-align: left;
  color: #35a5b5 ;
  padding-left: 14px;
  padding-top: 17px;
}

.dropdown-descText{
  height: 24px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #373a3c ;
  padding-left: 14px;
  padding-top: 6px;
}

.dropdown-chevron{
  margin-top: 25px;
  margin-right: 15px;
  height: 30px;
  width: 30px;
}

.dropdown-list{
  list-style: none;
  padding-top: 11px;
  padding-bottom: 11px;
}
