.reward {
  text-align: left;
}

.rewardCard {
  margin-top: 10px;
  border-radius: 6px;
  background-color: #35a5b5;
  border: solid 1px rgba(81, 86, 99, 0.24);
  color: #ffffff;
  padding: 0.5rem;
  padding-bottom: 0;
}

.rewardTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: left;
  color: #ffffff;
}

.rewardSubtitle {
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  text-align: left;
  color: #ffffff;
}

.rewardLogo {
  font-size: 13px;
  text-align: center;
  //color: #35a5b5;
  //background-color: #ffffff;
}