.searchInput {
  margin-top: 1.5vh;
  font-size: 16px;
  line-height: 1.31;
  text-align: left;
  color: #999999;
}

.searchDropdownInput {
  margin-top: 1.5vh;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.31;
  text-align: left;
  color: #999999;
}

.pointsHeader {
  margin-top: 10px;
  background-color: #fd7171;
  height: 53px;
  border-radius: 6px;
  text-align: left;
}

.pointsHeaderText {
  margin-top: 1.6vh;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  color: #ffffff;
}

.pointsPill {
  background-color: #ffffff;
  color: #fd7171;
  float: right;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.9px;
  border-radius: 1rem;
  /* Vertically centre pill */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.rewardCount {
  margin-top: 3vh;
  text-align: left;
  font-size: 14px;
  color: #656565;
}

.partnerText {
  margin-top: 4vh;
  margin-bottom: 2vh;
  font-size: 14px;
  text-align: center;
  color: #666666;
}

.partnerLogo {
  height: 10vw;
  width: auto;
  margin-bottom: 2vh;
}