body {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
=======
>>>>>>> 10f8031d0836ea9ef726690677f0ce7831870a47
}

html *
{
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}